# ----
# Site

title: AI RMF Playbook
url:
baseurl: "/RMF"
google_analytics_key:
disqus_shortname:
newsletter_action:

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /NISTlogo.png
description: 
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: 
  links:
    - 

# -----
# Build

timezone: Etc/UTC


plugins:
  - jekyll-extract-element
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-archives

gems: ["jekyll-extract-element","jekyll-sitemap", "jekyll-seo-tag", "jekyll-feed", "jekyll-archives"]

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  sets:

permalink: /:categories/:title/


jekyll-archives:
  enabled: ['categories', 'type']

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      type: "sets"
    values:
      _hide_content: true
  -
    scope:
      path: "index.html"
    values:
      body_class: "show_hero_search"

# -----------
types:
  - Document
  - Govern
  - Map
  - Measure
  - Management
  - Characteristics

